<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully Uploaded File</title>
</head>
<body>
    <h1>File uploaded successfully!</h1>
    <form action="/files/<%=fileId%>" method="GET">
        <button>Add Changes</button>
     </form>
</body>
</html>