<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transform Image</title>
</head>
<body>
    <p>FileId: <%= fileId %></p>
<form action="/files/<%=fileId%>" method="GET"></form>
    <div>
        Choose format:
        <label for=""><input type="radio" name="format" value="png" checked>png</label>
        <label for=""><input type="radio" name="format" value="jpg">jpg</label>
        <label for=""><input type="radio" name="format" value="webp">webp</label>
    </div>
    <div>
      <label for="width">Width:</label>
      <input type="number" name="width" min="10" max="200" step="10" value="100">
      <label for="Height">Height:</label>
      <input type="number" name="height" min="10" max="200" step="10" value="100">
    </div>
    <div>
        <label>GrayScale: <input type="checkbox" name="grayscale" value="true"></label>
    </div>
    <img src="../Images/<%= fileId %>" alt="hello">
    <input type="submit">
    </form>

    
</body>
</html> -->